// imports ; variables
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Euphoria+Script&family=Montserrat:wght@300;400;500;700&display=swap");

$font-main: "Montserrat", serif;
$font-description: "Georgia", "Times New Roman", serif;
$font-headings: "Catamaran", sans-serif;
$font-logo: "Euphoria Script", serif;
$primary: rgb(254, 209, 54);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: rgb(100, 100, 100);
// general
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  background-image: url("../images/overlay.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 54vh;
}
.section-heading,
.nav li,
.hero h2 {
  text-transform: uppercase;
}
.container {
  max-width: 800px;
}
body {
  font-family: $font-main;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// nav
nav {
  padding: 30px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.nav {
  display: none;
  list-style-type: none;
}
.logo a {
  color: $primary;
  font-family: $font-logo;
  font-style: italic;
  text-decoration: none;
  font-size: 2rem;
}
.nav li {
  font-family: $font-main;
  font-size: 18px;
  color: $white;
  cursor: pointer;
}
.nav li:hover {
  border-bottom: 1px solid $primary;
  transform: scale(1.1);
}
// hero section

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $white;
  padding-bottom: 20px;
}
.hero h1 {
  font-family: $font-description;
  font-weight: 300;
  font-style: italic;
  font-size: 1.25rem;
}
.hero h2 {
  font-family: $font-headings;
  font-size: 2rem;
  font-weight: 700;
}
.btn {
  color: $white;
  text-decoration: none;
  background-color: $primary;
  width: 190px;
  text-align: center;
  vertical-align: middle;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn:hover {
  background-color: rgba($primary, 0.85);
  color: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15),
    inset 0 0 0 2px rgba($white, 0.85);
}

// Services section
.services,
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 10px;
}
.services .row:first-of-type,
.portfolio .row:first-of-type {
  padding-top: 30px;
  padding-bottom: 60px;
}
.section-heading {
  font-size: 32px;
}
.section-description {
  color: $grey;
  font-family: $font-description;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.icon-wrapper {
  border-radius: 50%;
  height: 54px;
  width: 54px;
  padding: 6px;
  border: 3px solid $primary;
}
.services img {
  width: 36px;
  height: 36px;
}
.services h3 {
  margin-top: 15px;
  font-size: 14px;
}
.services p {
  font-size: 14px;
  color: $grey;
  font-family: $font-description;
  padding: 0 40px;
  margin-top: 10px;
  text-align: center;
  max-width: 350px;
}


// Footer
footer {
  padding: 40px 0;
}
footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer p {
  font-size: 12px;
}
footer a {
  text-decoration: none;
  color: $black;
}
.social-icons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icons i {
    font-size: 1rem;
    border-radius: 50%;
    color: $white;
    background-color: $black;
    line-height: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
  }

//  MEDIA QUERIES
@media (min-width: 768px) {
  nav #mobile-menu {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav li {
    padding: 0 14px;
    font-family: $font-main;
    font-size: 12px;
  }
  .hero h1 {
    font-size: 2rem;
    padding-bottom: 15px;
  }
  .hero h2 {
    font-size: 4rem;
  }
  .services {
    height: 46vh;
  }
  .services p {
    padding: 0 0;
  }
  .services .row:first-of-type {
    padding-bottom: 40px;
  }
  footer > div {
    flex-direction: row;
  }
}
